@import url('https://fonts.googleapis.com/css?family=Exo+2:700|Oleo+Script+Swash+Caps|Raleway:300');

.contentCard {
  background-color: #eaf2e3;
  padding: 50px;
  margin: 0;
  margin: 10px;
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
  border-radius: 0px 0px 8px 8px;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flexContainer > * {
  margin-bottom: 25px;
}

@media only screen and (max-width: 650px) {
  .flexContainer {
    flex-wrap: wrap;
  }
}

.cardImage {
  margin-bottom: 20px;
}

p {
  font-family: 'Raleway', sans-serif;
}

b {
  font-family: 'Raleway', sans-serif;
}

i {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  color: #f06449;
  margin-bottom: 10px;
}

a {
  font-family: 'Exo 2', sans-serif;
  color: #f06449;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Raleway', sans-serif;
}
