@import url('https://fonts.googleapis.com/css?family=Exo+2:700|Oleo+Script+Swash+Caps|Raleway:300');

.heroContainer {
  margin: 10px;
  margin-top: 0;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #8186f7;
}

.headText {
  font-size: 50px;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.6;
  text-align: center;
}
