@import url('https://fonts.googleapis.com/css?family=Exo+2:700|Oleo+Script+Swash+Caps|Raleway:300');

.heroContainer {
  margin: 10px;
  margin-top: 0;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #8186f7;
}

.headText {
  font-size: 50px;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.6;
  text-align: center;
}

.subText {
  font-size: 35px;
  background-color: #f06449;
  color: white;
  clip-path: polygon(0 0, 500px 0, 250px 87%, 0 100%);
  font-family: 'Raleway', sans-serif;
  transition: background-color 500ms;
  transition: color 500ms;
  padding: 15px;
  text-decoration: none;
}

.subText:hover {
  background-color: white;
  color: #8186f7;
  clip-path: polygon(0 0, 500px 0, 250px 87%, 0 100%);
}
