.iconList {
  display: none;
  font-size: 50px;
}

@media only screen and (max-width: 650px) {
  .iconList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .iconList > * > * {
    margin: 20px;
  }

  .iconList > * > i {
    color: #8186f7;
  }

  .iconList > * > h1 {
    font-size: 28px;
  }
}
