@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Raleway:300');

.navSpacer {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navSpacer > * > * {
  margin-bottom: 0;
}
.navSpacer > *:nth-child(n + 2) > * {
  color: #f06449;
  text-decoration: none;
  transition: color 0.5s;
  font-family: 'Raleway', sans-serif;

  padding: 8px;
}

.navSpacer > *:nth-child(n + 2) > *:hover {
  color: white;
  background-color: #8186f7;
  clip-path: polygon(0 0, 500px 0, 250px 20%, 0 100%);
}

.homeLink {
  font-family: 'Oleo Script Swash Caps', cursive;
}
